services:
  web:
    build: .
    restart: always
    ports:
      - "5000:5000"   # cambiá el puerto si ya está usado
    environment:
      - MONGO_URI=mongodb://mongo:27017/usuarios_db
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"  # cambialo si hay otro mongo
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
